@{
    ViewData["Title"] = "ApiLog";
    ViewBag.PageSize = 50;
    ViewBag.PageNum = 1;
}
@model List<API_LOG>
<h1>@ViewData["Title"]</h1>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().EQUIPMENT_CODE)设备编号</th>
                <th scope="col">请求时间</th>
                <th scope="col">请求接口</th>
                <th scope="col">MES耗时(ms)</th>
                <th scope="col">总耗时(ms)</th>
                <th scope="col">服务器IP</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@Model[i].EQUIPMENT_CODE</td>
                    <td>@Model[i].REQUEST_TIME</td>
                    <td>@Model[i].ACTION_NAME</td>
                    <td>@Model[i].MES_DURATION</td>
                    <td>@Model[i].EXECUTION_DURATION</td>
                    <td>@Model[i].SERVER_IP</td>
                    <td><button type="button" class="btn btn-primary" data-bs-target="#logDetailModalToggle" data-bs-toggle="modal">详情</button></td>
                </tr>
            }
            <div class="modal" id="logDetailModalToggle" aria-hidden="true" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">.col-md-4</div>
                                    <div class="col-md-4 ms-auto">.col-md-4 .ms-auto</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 ms-auto">.col-md-3 .ms-auto</div>
                                    <div class="col-md-2 ms-auto">.col-md-2 .ms-auto</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ms-auto">.col-md-6 .ms-auto</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9">
                                        Level 1: .col-sm-9
                                        <div class="row">
                                            <div class="col-8 col-sm-6">
                                                Level 2: .col-8 .col-sm-6
                                            </div>
                                            <div class="col-4 col-sm-6">
                                                Level 2: .col-4 .col-sm-6
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="/ApiLog/GetPreviousAsync">Previous</a></li>
            <li class="page-item"><a class="page-link" href="/ApiLog/GetLogListAsync/1">1</a></li>
            <li class="page-item"><a class="page-link" href="/ApiLog/GetLogListAsync/2">2</a></li>
            <li class="page-item"><a class="page-link" href="/ApiLog/GetLogListAsync/3">3</a></li>
            <li class="page-item"><a class="page-link" href="/ApiLog/GetNextAsync">Next</a></li>
        </ul>
    </nav>
</div>
