@using System.Text.RegularExpressions
@{
    // ViewData["Title"] = "ApiLog";
    ViewBag.PageSize = 50;
    ViewBag.PageNum = 1;
    var lineList = (ViewBag.LineList as IEnumerable<string>).Select(x => new SelectListItem { Text = x, Value = x });
    var equipmentList = ViewBag.EquipmentList as List<SelectListItem>;
}
@model List<API_LOG>
@* <h1>@ViewData["Title"]</h1> *@

<div class="row">
    <div class="col-sm-2">
        <form>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">线体</label>
                <div class="col-sm-9">
                    @Html.DropDownList("lineList", lineList, new { @class = "form-select" })
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">设备</label>
                <div class="col-sm-9">
                    @Html.DropDownList("lineList", lineList, new { @class = "form-select" })
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">请求时间</label>
                <div class="col-sm-9">
                    <input class="form-control" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm-10">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">设备编号</th>
                    <th scope="col">请求时间</th>
                    <th scope="col">请求接口</th>
                    <th scope="col">请求结果</th>
                    <th scope="col">MES耗时(ms)</th>
                    <th scope="col">总耗时(ms)</th>
                    <th scope="col">服务器IP</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model?.Count(); i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model[i].EQUIPMENT_CODE</td>
                        <td>@Model[i].REQUEST_TIME</td>
                        <td>@Model[i].ACTION_NAME</td>
                        @if (Model[i].HTTP_RESULT == null || Regex.Match(Model[i].HTTP_RESULT, @"^.*?Code""\s*:\s*1\s*,.*?$").Success)
                        {
                            <td class="bg-success text-light">成功</td>
                        }
                        else
                        {
                            <td class="bg-danger text-light">失败</td>
                        }
                        <td>@Model[i].MES_DURATION</td>
                        <td>@Model[i].EXECUTION_DURATION</td>
                        <td>@Model[i].SERVER_IP</td>
                        <td><button type="button" class="btn btn-primary" data-bs-target="#logDetailModalToggle" data-bs-toggle="modal">详情</button></td>
                    </tr>
                }
                <div class="modal" id="logDetailModalToggle" aria-hidden="true" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4">.col-md-4</div>
                                        <div class="col-md-4 ms-auto">.col-md-4 .ms-auto</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 ms-auto">.col-md-3 .ms-auto</div>
                                        <div class="col-md-2 ms-auto">.col-md-2 .ms-auto</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 ms-auto">.col-md-6 .ms-auto</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            Level 1: .col-sm-9
                                            <div class="row">
                                                <div class="col-8 col-sm-6">
                                                    Level 2: .col-8 .col-sm-6
                                                </div>
                                                <div class="col-4 col-sm-6">
                                                    Level 2: .col-4 .col-sm-6
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-lg">
                <li class="page-item"><a class="page-link" asp-route-pageIndex="1">首页</a></li>
                @if (ViewBag.PageIndex == 1)
                {
                    <li class="page-item disabled"><a class="page-link" asp-route-pageIndex="@(ViewBag.PageIndex-1)">上一页</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-route-pageIndex="@(ViewBag.PageIndex-1)">上一页</a></li>
                }
                <li class="page-item"><a class="page-link" asp-route-pageIndex="1">1</a></li>
                <li class="page-item"><a class="page-link" asp-route-pageIndex="2">2</a></li>
                <li class="page-item"><a class="page-link" asp-route-pageIndex="3">3</a></li>
                <li class="page-item"><a class="page-link" asp-route-pageIndex="4">4</a></li>
                <li class="page-item"><a class="page-link" asp-route-pageIndex="5">5</a></li>
                @if (ViewBag.PageIndex == ViewBag.PageCount)
                {
                    <li class="page-item disabled"><a class="page-link" asp-route-pageIndex="@(ViewBag.PageIndex+1)">下一页</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-route-pageIndex="@(ViewBag.PageIndex+1)">下一页</a></li>
                }
                <li class="page-item"><a class="page-link" asp-route-pageIndex="@ViewBag.PageCount">尾页</a></li>
            </ul>
        </nav>
    </div>
</div>
